body, html {
    background-image: URL(../images/background.png);
}

p.text-right {
    text-align: right;
}

p.text-left {
    text-align: left;
}

p.text-center {
    text-align: center;
}

h2.ce-headline-center {
	text-align: center;
}