<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="useName">
	<f:translate key="tx_flashgameext_domain_model_user.use_name" />
</label><br />
	<f:form.textfield property="useName" /><br />
<label for="useFirstname">
	<f:translate key="tx_flashgameext_domain_model_user.use_firstname" />
</label><br />
	<f:form.textfield property="useFirstname" /><br />
<label for="usePseudo">
	<f:translate key="tx_flashgameext_domain_model_user.use_pseudo" />
</label><br />
	<f:form.textfield property="usePseudo" /><br />
</html>