<f:layout name="main_layout" />
<f:section name="content">
<div id="content">
	<div id="content_main">
		<f:cObject typoscriptObjectPath="lib.content_social" />
		<f:format.raw>{content_main}</f:format.raw>
		<f:cObject typoscriptObjectPath="lib.content_message_ad" />
	</div>
    <div id="content_column_1">
        <f:format.raw>{content_column_1}</f:format.raw>
    </div>
    <div id="content_column_2">
        <f:format.raw>{content_column_2}</f:format.raw>
    </div>
    <div class="clearer"></div>
</div>
</f:section>